In [ ]:
import pandas as pd

from graphs.io import normalize_text
df = pd.read_csv('bairros_recife.csv')
df.head()

normalize_text

,full_id,osm_id,osm_type,admin_level,landuse,wikipedia,wikidata,place,type,name,boundary,neighbors
0,r4263447,4263447,relation,10,NaN,NaN,NaN,NaN,boundary,Aflitos,administrative,"[ ""Rosarinho"", ""Encruzilhada"", ""Espinheiro"", ""..."
1,r4263599,4263599,relation,10,NaN,NaN,NaN,NaN,boundary,Jaqueira,administrative,"[ ""Tamarineira"", ""Graças"", ""Torre"", ""Santana"",..."
2,r4263892,4263892,relation,10,NaN,NaN,NaN,NaN,boundary,Hipódromo,administrative,"[ ""Ponto de Parada"", ""Encruzilhada"", ""Campo Gr..."
3,r4263893,4263893,relation,10,NaN,NaN,NaN,NaN,boundary,Ponto de Parada,administrative,"[ ""Hipódromo"", ""Rosarinho"", ""Encruzilhada"", ""A..."
4,r4263894,4263894,relation,10,NaN,NaN,NaN,NaN,boundary,Rosarinho,administrative,"[ ""Aflitos"", ""Ponto de Parada"", ""Tamarineira"",..."

In [ ]:
import ast

# drop useless columns

df = df.drop(columns=['full_id', 'osm_id', 'osm_type', 'admin_level', 'wikidata', 'wikipedia', 'place', 'boundary', 'type', 'landuse'], errors='ignore')
df_pairs = df.assign(neighbor=df['neighbors'].apply(ast.literal_eval)).explode('neighbor')

df_pairs = df_pairs.dropna(
    subset=['neighbor']
    ).reset_index(drop=True)[['name', 'neighbor']]

df_pairs.head()
df.info()
pd.DataFrame(df_pairs).to_csv('bairros_recife_edges.csv', index=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 98 entries, 0 to 97
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   name       98 non-null     object
 1   neighbors  98 non-null     object
dtypes: object(2)
memory usage: 1.7+ KB